* {
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

}

html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

:root {
    --font-size-normal: 18px;
    --secondary-color: rgb(255, 255, 255);

    /* начальные значения переменных (для темной темы) */
    --app__title-color:var(--secondary-color);
    --primary-color: var(--primary-color-dark);
    --app__task-list-bg: var(--app__task-list-bg-dark);
    --input-area-bg: var(--input-area-bg-dark);
    --button-color: var(--button-color-dark);
    --button-hover-color: var(--button-hover-color-dark);
    --app__toast-bg: var(--app__toast-bg-dark);
    

    /* переменные темная тема */
    --app__title-color-dark: rgb(255, 255, 255);
    --primary-color-dark: rgb(68,70,77);
    --app__task-list-bg-dark: rgb(0, 0, 0);
    --input-area-bg-dark: rgb(31,31,31);
    --button-color-dark: rgb(69, 69, 113);
    --button-hover-color-dark: rgb(50, 50, 51);
    --app__toast-bg-dark: rgb(57, 57, 111);

    /* переменные светлая тема */
    --app__title-color-light: rgb(13,17,23);
    --primary-color-light: rgb(207, 207, 207);
    --app__task-list-bg-light: rgb(13,17,23);
    --input-area-bg-light: rgb(31,31,31);
    --button-color-light: rgb(48, 48, 52);
    --button-hover-color-light: rgb(66, 66, 99);
    --app__toast-bg-light: rgb(92, 92, 118);
}

body {
    /* background-color: var(--primary-color); */
    font-family: 'Roboto', sans-serif;
    background-color: rgb(32 32 34);


}

.dark-theme {
    --app__title-color:var(--secondary-color);
    --primary-color: var(--primary-color-dark);
    --app__task-list-bg: var(--app__task-list-bg-dark);
    --input-area-bg: var(--input-area-bg-dark);
    --button-color: var(--button-color-dark);
    --button-hover-color: var(--button-hover-color-dark);
    --app__toast-bg: var(--app__toast-bg-dark);
}

.light-theme {
    --app__title-color:var(--app__title-color-light);
    --primary-color: var(--primary-color-light);
    --app__task-list-bg: var(--app__task-list-bg-light);
    --input-area-bg: var(--input-area-bg-light);
    --button-color: var(--button-color-light);
    --button-hover-color: var(--button-hover-color-light);
    --app__toast-bg: var(--app__toast-bg-light);
}

.light-theme .app__theme-button {
    background-image: url('./image/dark_mode.svg');
}

.app__theme-button {
    background-image: url('./image/light_mode.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    width: 30px; 
    height: 30px;
    border: none;
}

.app-container {
    display: flex;
    /* height: 100vh; */
    flex-direction: row;


}

.app__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    gap: 5px; 
    width: 100%
    
}

.app__task-list {
    background-color:var(--app__task-list-bg);
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    padding: 10px;
    gap: 5px;
    list-style-type: none;
    overflow-y: auto;
    border-right: 0.5px solid rgba(118, 118, 151, 0.471);

}

.app__task-list-item  {
    color: var(--secondary-color); 
    /* color: rgb(255, 255, 255); */
    background-color: transparent; 
    background-image: linear-gradient(to right, rgb(83,83,109), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: left bottom;
    transition: background-color 0.3s;
    min-height: 30px; 
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    font-weight: 50;
    font-family: 'Roboto', sans-serif;

    
    /* font-family: 'Open Sans', sans-serif; */

    /* font-family: 'Caveat', cursive; */
}

.app__task-list-item--selected {
    /* background:rgb(47, 48, 53) */
    background:rgb(32 32 34)
    /* background:rgb(51, 51, 51) */


}

.app__task-list-item:not(.app__task-list-item--selected):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app__task-list-item--completed {
    /* color:var(--secondary-color); */
    color:rgb(156, 156, 156);
    text-decoration: line-through;
    text-decoration-color: rgb(189, 189, 244);
    opacity: 60%; 
    animation: fadeOut 0.5s ease-in-out;
}

.app__task-list-item[data-id="new-task"] {
    background-image: url('image/new_note.svg');
    background-repeat: no-repeat;
    background-size: 38px;
    padding-left: 40px;
    align-items: center;
    background-position: left;
}

.app__task-list-item-title {
    margin: 10px;
}

.app__task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 70rem; */
    width: 80%
}

.app__task-title-date {
    color: var(--secondary-color);
    margin: 10px;
    opacity: 60%;
}

.app__title {
    color: var(--app__title-color);
    display: flex;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Caveat', cursive;

     
}

.app__task-form-content {
    width: 85%;
    height: 100%;
    /* padding-left: 10%; */
 }

.app__task-description-textarea, .app__task-title-input {
    display: flex;
    color: var(--secondary-color);
    background-color:var(--input-area-bg);
    font-size: var(--font-size-normal);
    font-weight: 50;
    /* width: 70%; */
    padding: 7px;
    margin-bottom: 5px; 
    border: 1px solid rgba(118, 118, 151, 0.471);
    border-radius: 7px;
    resize: vertical;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.app__task-title-input::placeholder, .app__task-description-textarea::placeholder {
    color: var(--secondary-color); 
    font-size: var(--font-size-normal);
    opacity: 0.8;
}

input:focus, .app__task-description-textarea:focus {
    outline: none; 
}

.app__task-title-input:hover, .app__task-description-textarea:hover {
    background-color: rgb(39, 39, 39);
    border-color: rgb(47, 47, 100); 
}

.app__task-form-buttons {
    display: flex;
    justify-content:flex-start; 
    width: 85%;
    padding-bottom: 10px;
    /* padding-left: 10%; */
    gap: 10px;
}

.app__task-form-submit, .app__task-form-archive, .app__task-form-delete {
    background-color:var(--button-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    font-size: var(--font-size-normal);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;

}


.app__task-form-submit:hover, .app__task-form-delete:hover, .app__task-form-archive:hover {
        background-color:var(--button-color);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

.app__task-form-submit:active, .app__task-form-delete:active, .app__task-form-archive:active {
        transform: translateY(2px); 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }


.invalid-input {
    border-color: rgba(166, 43, 37, 0.852);
    animation: shake 0.5s ;
  }
  
  .app__toast {
      background-color: var(--app__toast-bg);
      color: var(--secondary-color);
      font-size: var(--font-size-normal);
      position: fixed;
      padding: 10px 20px;
      bottom: -100px; 
      right: 30px;
      border-radius: 5px;
      opacity: 0;
      transition: bottom 0.5s; 
  }
  
  .app__toast.show {
      bottom: 30px;
      opacity: 1; 
  }

  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
}
    @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0.6; }
}


.app__theme-switcher{
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .app__task-form-content{
        width: 100%;
        
    }

    .app__task-list-item-title {
        margin: 7px;
    }
    .app__task-title-date {
        margin: 5px;
        margin-left: auto;
    }

    .app__task-form-buttons, .app__task-form-content {
    justify-content: space-between; 
    width: 100%;
    }

    .app__task-form {
        width: 95%;
        align-items: stretch;
    }

    .app__task-list {
        width: 100%;
        height: auto;
        min-height: 100vh;
        border-top: 2.5px solid rgb(46, 46, 59); 
        padding: 2px;
        gap: 2px;
    }

    .app-container {
        flex-direction: column;
        flex-direction: column-reverse; 
        height: auto;
    }

    .app__task-title-input, .app__task-description-textarea {
        width: 100%;
    }

    body, html {
        max-width: 100vw;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .app__task-list-item-title{
        margin: 7px;
    }

    .app__task-title-date {
        margin: 5px;
        margin-left: auto;
    }

    .app__task-form-buttons, .app__task-form-content {
        justify-content: space-between; 
        padding-left: 0;
        }

    .app__task-form {
        justify-content: space-evenly
        
    }

    .app__task-list {
        width: 100%;
        height: auto;
        min-height: 100vh; 
        border-top: 2.5px solid rgb(46, 46, 59); 
    }

    .app-container {
        flex-direction: column;
        flex-direction: column-reverse; 
        height: auto;
    }

    .app__task-form {
        width: 90%;
    }

    .app__task-title-input, .app__task-description-textarea {
        width: 100%;
    }

    body, html {
        max-width: 100vw;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {

    .app__task-list-item-title{
        margin: 7px;
    }

    .app__task-title-date {
        margin: 5px;
        margin-left: auto;
    }

    .app__task-form-buttons {
        justify-content: space-between; 
        padding-left: 0;
        }
    
        .app__task-form-content {
            padding-left: 0;
        }
    
        .app__task-form {
            justify-content: space-evenly
        }
    
        .app__task-list {
            width: 100%;
            height: auto;
            min-height: 100vh; 
            border-top: 2.5px solid rgb(46, 46, 59); 
        }
    
        .app-container {
            flex-direction: column;
            flex-direction: column-reverse; 
            height: auto;
        }
    
        .app__task-form {
            width: 95%;
        }
    
        .app__task-title-input, .app__task-description-textarea {
            width: 100%;
        }

        body, html {
            max-width: 100vw;
            overflow-x: hidden;
        }
    }